{% extends "LAAppBundle::layout.html.twig" %}

{% block title %}
  Contact - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Contact</h2>

  <div class="well">
  	<div id="adress">
  		<ul>
  			<li>Musée du Louvre</li>
  			<li>99, rue de Rivoli</li>
  			<li>75001 Paris</li>
  			<li>France</li>
  		</ul>
  	</div>
  	<div id="mail">
  		<ul>
  			<li>Contact : <a href="mailto:contact@steb-srv.fr" alt="Envoyer un mail">contact@steb-srv.fr</a></li>
  			<li>Support site : <a href="mailto:webmaster@steb-srv.fr" alt="Envoyer un mail">webmaster@steb-srv.fr</a></li>
  		</ul>
  	</div>
  	<div id="phone">
  		<ul>
  			<li>+33(0)1 40 20 50 50</li>
  		</ul>
  	</div>
  </div>


{% endblock %}
