{% extends "LAAppBundle::layout.html.twig" %}

{% block title %}
  Billeterie - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Billeterie</h2>
  
  {% for type, messages in app.session.flashbag.all %}
    {% for message in messages %}
      {%if type == 'error'%} {% set type = 'danger' %} {%endif%}
        <div class="alert alert-{{ type }}">
            {{ message|raw }}
        </div>
    {% endfor %}
  {% endfor %}

  <div class="well">
    {{ form(form) }}
     <a href="#" id="add-ticket" class="btn btn-primary">Ajouter un ticket</a>
  </div>

  <script type="text/javascript">
    // keep track of how many tickets fields have been rendered
    var ticketCount = 0;

    jQuery(document).ready(function() {

        ticketCount = 1;

        jQuery('#add-ticket').click(function(e) {
            e.preventDefault();

            var ticketsList = jQuery('#la_ticketingbundle_command_tickets');

            // grab the prototype template
            var newWidget = ticketsList.attr('data-prototype');
            // replace the "__name__" used in the id and name of the prototype
            // with a number that's unique to your emails
            // end name attribute looks like name="contact[emails][2]"
            newWidget = newWidget.replace(/__name__/g, 'Ticket_' + ticketCount);
            newWidget = newWidget.replace(/label__/, '');
            ticketCount++;

            // create a new list element and add it to the list
            var newLi = jQuery('<li></li>').html(newWidget);
            newLi.appendTo(ticketsList);

            // Info for the reduced price
            jQuery('#la_ticketingbundle_command_tickets_Ticket_1_reduced').change(function() {
              if ($(this).is(':checked')) {
                alert('Justificatif nécessaire pour les tarifs réduits');
              };
            });
        });
    })
</script>

{% endblock %}