{% extends "LAAppBundle::layout.html.twig" %}

{% block title %}
  Billeterie - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Informations</h2>

  {% for message in app.session.flashbag.get('info') %}
    <div class="alert alert-info">Message flash : {{ message }}</div>
  {% endfor %}

  <div class="panel panel-default">
  	<div class="panel-heading">
  	  <h3 class="panel-title">Tarifs :</h3>
  	</div>
  	<ul class="list-group">
      {% for price in prices %}
        <li class="list-group-item">Prix : {{ price / 100 }}€</li>
      {% endfor %}
    </ul>
  </div>

{% endblock %}