{# src/LA/TicketingBundle/Resources/views/Ticketing/order_full.html.twig #}
{% extends "LAAppBundle::layout.html.twig" %}

{% block title %}
  Billeterie - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Billeterie</h2>

  {% for type, messages in app.session.flashbag.all %}
    {% for message in messages %}
      {%if type == 'error'%} {% set type = 'danger' %} {%endif%}
        <div class="alert alert-{{ type }}">
            {{ message|raw }}
        </div>
    {% endfor %}
  {% endfor %}

  <h3>Commande</h3>

  <div class="well">
    <p>Commande fermée</p>
  </div>

{% endblock %}